// Colors
$primary-color: #101d42;
$secondary-color: #f18805;
$gray-text: #909090;
$light-text: #f5f5f5;
$dark-text: #333;

// Text
$text-xs: 0.885rem;
$text-s: 1rem;
$text-m: 1.225rem;
$text-l: 1.725rem;
$text-xl: 2.525rem;

// Text SP
$text-m-sp: 1.125rem;
$text-l-sp: 1.525rem;
$text-xl-sp: 2.125rem;
