@import 'variables';

.about-page {
    background: $light-text;

    &__background {
        padding: 3rem 0;

        &__container {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        &__text {
            width: 760px;
        }

        &__p {
            font-size: $text-s;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__image {
            width: 375px;
        }
    }

    &__experience {
        padding-bottom: 3rem;

        &__container {
            max-width: 850px;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
        }

        &__button {
            font-size: $text-m;
            color: $gray-text;
            letter-spacing: 1px;
            display: block;
            width: 100%;
            padding: 0.1rem 1rem;
            text-align: left;
            transition: color 0.3s;
            position: relative;

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 3px;
                height: 100%;
                background: $secondary-color;
                content: '';
                opacity: 0;
                transform: translateX(5px);
                transition: opacity 0.3s, transform 0.3s;
            }

            &:hover {
                color: $secondary-color;

                &::after {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        &__tab {
            margin-bottom: 0.8rem;

            &:last-child {
                margin-bottom: 0;
            }

            &.is-active {
                button {
                    color: $secondary-color;
                    font-weight: 700;

                    &::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 3px;
                        height: 100%;
                        background: $secondary-color;
                        content: '';
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }

        &__work {
            flex: 1;
            margin-left: 1rem;
        }

        &__position {
            font-size: $text-l;
        }

        &__company {
            font-size: $text-m;
            font-weight: 400;

            span {
                color: $secondary-color;
                font-weight: 700;
            }
        }

        &__date {
            font-size: $text-s;
            color: $gray-text;
            margin-bottom: 0.8rem;
        }

        &__duty {
            display: flex;
            margin-bottom: 0.4rem;

            &:last-child {
                margin-bottom: 0;
            }

            svg {
                font-size: 1rem;
                margin-right: 0.5rem;
                color: $secondary-color;
                margin-top: 0.2rem;
            }

            p {
                flex: 1;
                font-size: $text-s;
            }
        }
    }
}

/* Media Queries */
@media screen and (max-width: 1300px) {
    .about-page {
        &__background {
            &__text {
                width: 650px;
            }

            &__image {
                width: 350px;
            }
        }

        &__experience {
            &__container {
                max-width: 800px;
            }
        }
    }
}

@media screen and (max-width: 1120px) {
    .about-page {
        &__background {
            &__text {
                flex: 1;
                width: 100%;
                margin-right: 3rem;
            }

            &__image {
                width: 330px;
            }
        }

        &__experience {
            &__container {
                max-width: 700px;
            }
        }
    }
}

@media screen and (max-width: 1040px) {
    .about-page {
        &__background {
            &__text {
                width: 100%;
                margin-right: 2rem;
            }

            &__image {
                width: 40%;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .about-page {
        &__background {
            &__container {
                align-items: center;
                justify-content: center;
                flex-direction: column-reverse;
            }

            &__text {
                width: 100%;
                margin-right: 0;
                max-width: 700px;
            }

            &__image {
                margin-bottom: 2rem;
            }
        }
    }
}

@media screen and (max-width: 815px) {
    .about-page {
        &__background {
            &__text {
                max-width: 100%;
            }

            &__image {
                width: 280px;
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .about-page {
        &__background {
            &__image {
                max-width: 100%;
            }
        }

        &__experience {
            &__container {
                max-width: 500px;
                flex-direction: column;
            }

            &__button {
                padding: 0.3rem 0.5rem;

                &::after {
                    top: auto;
                    width: 100%;
                    height: 2px;
                    opacity: 0;
                    transform: translateY(-5px);
                }

                &:hover {
                    &::after {
                        transform: translateY(0);
                    }
                }
            }

            &__tabs {
                width: 100%;
                margin-bottom: 1.2rem;
                text-align: center;
            }

            &__tab {
                margin-bottom: 0;
                margin-right: 1.5rem;
                display: inline-block;

                &:last-child {
                    margin-right: 0;
                }

                &.is-active {
                    button {
                        &::after {
                            top: auto;
                            width: 100%;
                            height: 2px;
                            transform: translateX(0);
                            opacity: 1;
                        }
                    }
                }
            }

            &__work {
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .about-page {
        &__experience {
            &__container {
                max-width: 450px;
            }

            &__button {
                font-size: $text-m-sp;
                padding: 0.3rem 0.5rem;
            }

            &__tab {
                margin-right: 1rem;
            }

            &__position {
                font-size: $text-l-sp;
            }

            &__company {
                font-size: $text-m-sp;
            }
        }
    }
}
