@import 'variables';

.footer {
    background: $primary-color;
    color: $light-text;
    padding: 3rem 0 1rem;

    &__container {
        text-align: center;
        margin-bottom: 2.5rem;
    }

    &__title {
        font-size: $text-l;
        margin-bottom: 1.2rem;
    }

    &__text {
        font-size: $text-s;
        margin-bottom: 1.6rem;
    }

    &__button {
        margin-bottom: 1.6rem;
    }

    &__link {
        color: $light-text;
        margin-right: 1.5rem;
        transition: color 0.3s;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $secondary-color;
        }
    }

    &__icon {
        font-size: 2rem;
    }

    &__copyright {
        font-size: $text-xs;
        text-align: center;
    }

    &__via {
        margin-bottom: 1rem;
    }
}

/* Media Queries */
@media screen and (max-width: 1300px) {
    .footer {
        padding: 3rem 0 1.5rem;

        &__container {
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3rem;
        }

        &__button {
            margin-bottom: 0;
        }

        &__link {
            margin-right: 1.8rem;
        }
    }
}

@media screen and (max-width: 900px) {
    .footer {
        &__link {
            margin-right: 1.4rem;
        }
    }
}

@media screen and (max-width: 680px) {
    .footer {
        &__link {
            margin-right: 1rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .footer {
        &__container {
            display: block;
            text-align: center;
            margin-bottom: 2.5rem;
        }

        &__title {
            font-size: $text-l-sp;
        }

        &__button {
            margin-bottom: 1.6rem;
        }

        &__link {
            margin-right: 1.5rem;
        }
    }
}
