@import 'variables';

.hero {
    min-height: 100vh;
    background: $primary-color;
    padding-top: 6rem;
    display: flex;
    align-items: center;
    color: $light-text;
    text-align: center;
    position: relative;

    &__particles {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__title {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    &__text {
        font-size: $text-m;
        margin-bottom: 2.8rem;
    }

    &__button {
        margin-bottom: 5rem;
    }
}

.about {
    padding: 3rem 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__details {
        width: 750px;
    }

    &__text {
        font-size: $text-s;
        margin-bottom: 1.5rem;
    }

    &__image {
        width: 350px;
    }
}

.skills {
    background: $primary-color;
    padding: 3rem 0;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        background: #d8dce2;
        width: 100%;
        height: 14.2rem;
        pointer-events: none;
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        z-index: -1;
    }

    &__title {
        color: $light-text;
    }

    &__container {
        max-width: 1020px;
        margin: 0 auto;
        background: $light-text;
        padding: 2rem;
        text-align: center;
        z-index: 1;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

        &__title {
            font-size: $text-m;
            max-width: 565px;
            display: inline-block;
            margin-bottom: 2rem;
        }

        &__content {
            display: flex;
            justify-content: space-around;
        }
    }

    &__skillset {
        &__title {
            font-size: $text-s;
            margin-bottom: 1.5rem;
        }

        &__list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
        }

        &__item {
            width: 5.5rem;
            color: $gray-text;

            &:nth-child(n + 3) {
                margin-top: 1rem;
            }
        }

        &__icon {
            font-size: 2.5rem;
            margin-bottom: 0.2rem;
        }

        &__name {
            font-size: $text-xs;
        }
    }
}

.projects {
    padding: 1rem 0 3rem;
    background: #d8dce2;
    text-align: center;

    &__item {
        margin-bottom: 2rem;
        position: relative;

        &__image {
            max-width: 700px;

            a {
                display: block;
                overflow: hidden;
                position: relative;

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    background: $secondary-color;
                    z-index: 5;
                    opacity: 0;
                    transition: opacity 0.3s;
                }

                .text {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 5;
                    opacity: 0;
                    transition: opacity 0.3s;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $light-text;
                        font-size: $text-m;
                        font-weight: 700;

                        svg {
                            margin-left: 0.5rem;
                        }
                    }
                }

                .image-container {
                    transition: transform 0.3s ease-in-out;
                }

                &:hover {
                    .overlay {
                        opacity: 0.85;
                    }

                    .text {
                        opacity: 1;
                    }

                    .image-container {
                        transform: scale(1.1);
                    }
                }
            }
        }

        &__details {
            background: $light-text;
            position: absolute;
            max-width: 610px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
            padding: 2rem;
            z-index: 10;
            text-align: left;
        }

        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            &__title {
                font-size: $text-m;
            }

            &__date {
                color: $gray-text;
                font-size: $text-xs;
            }
        }

        &__body {
            font-size: $text-s;
            margin-bottom: 2rem;
        }

        &__foot {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__tools {
                li {
                    display: inline-block;
                    margin-right: 0.8rem;
                    font-size: $text-xs;
                    border: 2px solid $gray-text;
                    padding: 0.3rem 0.5rem;
                    border-radius: 5px;
                    color: $gray-text;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &__links {
                li {
                    display: inline-block;
                    margin-right: 0.8rem;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        transition: color 0.3s;
                        font-size: 1.5rem;

                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            }
        }

        &:nth-child(2) {
            .projects__item__image {
                margin-left: auto;
            }

            .projects__item__details {
                left: 0;
            }
        }
    }

    &__button {
        margin: 0 auto;
    }
}

/* Media Queries */
@media screen and (min-width: 2000px) {
    .hero {
        min-height: 70rem;
    }
}

@media screen and (max-width: 1300px) {
    .hero {
        text-align: left;
    }

    .about {
        &__details {
            width: 630px;
        }

        &__image {
            width: 330px;
        }
    }

    .skills {
        &__container {
            max-width: 900px;
        }
    }

    .projects {
        &__item {
            &__image {
                max-width: 550px;
            }

            &__details {
                max-width: 580px;
            }
        }
    }
}

@media screen and (max-width: 1120px) {
    .about {
        &__details {
            flex: 1;
            width: 100%;
            margin-right: 2rem;
        }

        &__image {
            width: 32%;
        }
    }

    .projects {
        &__container {
            width: 850px;
            margin: 0 auto;
        }

        &__item {
            &__image {
                max-width: 60%;
            }

            &__details {
                max-width: 50%;
                padding: 1.5rem;
            }

            &__head {
                &__date {
                    text-align: right;
                }
            }

            &__body {
                margin-bottom: 1rem;
            }

            &__foot {
                align-items: center;

                &__tools {
                    li {
                        margin-top: 0.25rem;
                        margin-bottom: 0.25rem;
                        margin-right: 0.5rem;
                    }
                }

                &__links {
                    width: 4rem;
                    text-align: right;

                    li {
                        margin-right: 0.5rem;

                        a {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .projects {
        &__container {
            width: 760px;
        }

        &__item {
            &__details {
                max-width: 52%;
            }
        }
    }
}

@media screen and (max-width: 815px) {
    .about {
        &__container {
            text-align: center;
            align-items: center;
            justify-content: space-between;
            flex-direction: column-reverse;
        }

        &__details {
            width: 90%;
            margin-right: 0;
        }

        &__title {
            &::after {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__image {
            width: 250px;
            margin-bottom: 1.5rem;
        }
    }

    .skills {
        &::after {
            height: 20.4rem;
        }

        &__container {
            max-width: 85%;

            &__title {
                max-width: 100%;
            }

            &__content {
                flex-direction: column;
            }
        }

        &__skillset {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }

            &__title {
                margin-bottom: 1.5rem;
            }

            &__item {
                &:nth-child(n + 3) {
                    margin-top: 0;
                }
            }
        }
    }

    .projects {
        &__container {
            width: auto;
            margin: 0 2rem;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__item {
            margin-bottom: 2rem;
            max-width: 520px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

            &__image {
                max-width: 100%;
            }

            &__details {
                max-width: 100%;
                position: static;
                transform: none;
                box-shadow: none;
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .skills {
        &__container {
            &__title {
                max-width: 565px;
            }

            &__content {
                flex-wrap: wrap;
                flex-direction: row;
            }
        }

        &__skillset {
            max-width: 12rem;

            &__list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin: 0 auto;
            }

            &__item {
                width: 5.5rem;
                color: $gray-text;

                &:nth-child(n + 3) {
                    margin-top: 1rem;
                }
            }

            &__icon {
                font-size: 2.5rem;
                margin-bottom: 0.2rem;
            }

            &__name {
                font-size: $text-xs;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .hero {
        &__title {
            font-size: 2.5rem;
        }

        &__text {
            font-size: $text-m-sp;
            max-width: 27rem;
        }
    }

    .about {
        &__container {
            text-align: left;
        }

        &__title {
            &::after {
                left: 0;
                transform: translateX(0);
            }
        }

        &__details {
            width: 100%;
        }
    }

    .skills {
        &::after {
            height: 28.8rem;
        }

        &__container {
            max-width: 100%;

            &__title {
                font-size: $text-m-sp;
                max-width: 90%;
            }
        }
    }

    .projects {
        &__container {
            margin: 0 1.5rem;
        }

        &__item {
            max-width: 100%;

            &__head {
                &__date {
                    padding-left: 1rem;
                }
            }

            &__foot {
                &__links {
                    width: 6rem;
                }
            }
        }
    }
}
