@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

body {
    font-family: inherit;
    background: $light-text;
    color: $dark-text;
}

input,
select,
textarea,
button {
    font-family: inherit;
}

button {
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    color: $dark-text;
    text-decoration: none;
    display: inline-block;
}

p {
    line-height: 1.5;
}

.is-sp {
    display: none;
}

.container {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.button {
    color: $light-text;
    background: $secondary-color;
    font-size: $text-xs;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0.5rem 1.5rem;
    z-index: 1;
    position: relative;
    transition: color 0.3s;
    display: inline-flex;
    align-items: center;
    border: 2px solid $secondary-color;

    svg {
        margin-left: 1.5rem;
        font-size: 1.625rem;
    }

    &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background: #f5f5f5;
        z-index: -1;
        transition: width 0.3s;
    }

    &:hover {
        color: $secondary-color;

        &::after {
            width: 100%;
        }
    }
}

.title {
    font-size: $text-xl;
    margin-bottom: 2rem;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 35px;
        height: 5px;
        border-bottom: 5px solid $secondary-color;
    }

    &__center {
        text-align: center;

        &::after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.headline {
    background: #101d42;
    padding: 7rem 0 3rem;
    color: #f5f5f5;
    text-align: center;

    &__text {
        font-size: $text-s;
        max-width: 45rem;
        margin: 0 auto;

        a {
            color: $secondary-color;
            position: relative;

            &::after {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                background: $secondary-color;
                content: '';
                opacity: 0;
                transition: height 0.3s, opacity 0.3s, transform 0.3s;
                transform: translateY(-10px);
            }

            &:hover {
                &::after {
                    height: 2px;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}

/* Media Queries */
@media screen and (max-width: 1300px) {
    html {
        font-size: 19px;
    }

    .container {
        width: 1050px;
        min-width: 1050px;
    }
}

@media screen and (max-width: 1120px) {
    html {
        font-size: 18px;
    }

    .container {
        width: auto;
        min-width: auto;
        margin: 0 3rem;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 17px;
    }

    .container {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 680px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .is-sp {
        display: block;
    }

    .container {
        margin: 0 1.5rem;
    }

    .title {
        font-size: $text-xl-sp;
    }
}
