@import 'variables';

.not-found-page {
    background: $primary-color;
    color: $light-text;
    text-align: center;

    &__container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__title {
        font-size: 8rem;
        margin-bottom: 0.5rem;
    }

    &__subtitle {
        font-size: 1.425rem;
        margin-bottom: 3rem;
    }
}
