@import 'variables';

.not-found-page {
    color: $light-text;
    text-align: center;

    &__headline {
        padding: 9rem 0 3rem;
    }

    &__title {
        font-size: 8rem;
        margin-bottom: 0.5rem;
        margin-top: -0.5rem;
    }

    &__subtitle {
        font-size: 1.425rem;
        margin-bottom: 3rem;
    }

    &__button {
        margin-bottom: 2rem;
    }
}
