@import 'variables';

.projects-page {
    padding: 3rem 0 2rem;
    background: #d8dce2;

    &__list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
        max-width: 48%;

        &:nth-child(odd) {
            margin-bottom: 3rem;
        }

        &:nth-child(even) {
            margin-top: 3rem;
        }

        &__image {
            max-width: 100%;

            a {
                display: block;
                overflow: hidden;
                position: relative;

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    background: $secondary-color;
                    z-index: 5;
                    opacity: 0;
                    transition: opacity 0.3s;
                }

                .text {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 5;
                    opacity: 0;
                    transition: opacity 0.3s;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $light-text;
                        font-size: $text-m;
                        font-weight: 700;

                        svg {
                            margin-left: 0.5rem;
                        }
                    }
                }

                .image-container {
                    transition: transform 0.3s ease-in-out;
                }

                &:hover {
                    .overlay {
                        opacity: 0.85;
                    }

                    .text {
                        opacity: 1;
                    }

                    .image-container {
                        transform: scale(1.1);
                    }
                }
            }
        }

        &__details {
            background: $light-text;
            padding: 1.5rem;
            text-align: left;
        }

        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            &__title {
                font-size: $text-m;
            }

            &__date {
                color: $gray-text;
                font-size: $text-xs;
                text-align: right;
            }
        }

        &__body {
            font-size: $text-s;
            margin-bottom: 1.25rem;
        }

        &__foot {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__tools {
                li {
                    display: inline-block;
                    margin-top: 0.25rem;
                    margin-bottom: 0.25rem;
                    margin-right: 0.5rem;
                    font-size: $text-xs;
                    border: 2px solid $gray-text;
                    padding: 0.3rem 0.5rem;
                    border-radius: 5px;
                    color: $gray-text;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &__links {
                li {
                    display: inline-block;
                    margin-right: 0.5rem;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        transition: color 0.3s;
                        font-size: 1.5rem;

                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
}

/* Media Queries */
@media screen and (max-width: 1300px) {
    .projects-page {
        &__item {
            &__head {
                &__title {
                    max-width: 15rem;
                }
            }

            &__foot {
                &__links {
                    width: 5rem;
                    text-align: right;
                }
            }
        }
    }
}

@media screen and (max-width: 815px) {
    .projects-page {
        padding: 3rem 0;

        &__list {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            margin-bottom: 3rem;
            max-width: 520px;

            &:nth-child(odd) {
                margin-bottom: 3rem;
            }

            &:nth-child(even) {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &__head {
                &__title {
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .projects-page {
        &__item {
            &__image {
                a {
                    .text {
                        p {
                            font-size: $text-m-sp;
                        }
                    }
                }
            }

            &__head {
                &__title {
                    font-size: $text-m-sp;
                }

                &__date {
                    padding-left: 1rem;
                }
            }

            &__foot {
                &__links {
                    width: 7rem;
                }
            }
        }
    }
}
